#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-

#DEB_MAKE_CHECK_TARGET = test_gtcoin
#build/gtcoind::
#	$(if $(filter nocheck,$(DEB_BUILD_OPTIONS)),,src/test_gtcoin)

DEB_INSTALL_EXAMPLES_gtcoind += debian/examples/*
DEB_INSTALL_MANPAGES_gtcoind += debian/manpages/*

%:
	dh --with bash-completion $@

override_dh_auto_build:
	cd src; $(MAKE) -f makefile.unix USE_IPV6=1 USE_QRCODE=1 USE_UPNP=0 gtcoind
	$(MAKE)

override_dh_auto_clean:
	if [ -f Makefile ]; then $(MAKE) clean; else rm -rf build/; rm -f gtcoin-qt; fi
	cd src; $(MAKE) -f makefile.unix clean

override_dh_auto_configure:
	qmake gtcoin-qt.pro USE_QRCODE=1 USE_DBUS=1

override_dh_auto_test:
	#cd src; $(MAKE) -f makefile.unix test_gtcoin
	#src/test_gtcoin

# Ensure wrapper is set executable
binary-post-install/gtcoind:
	chmod +x $(cdbs_curdestdir)usr/bin/gtcoind
binary-post-install/gtcoin-qt:
	chmod +x $(cdbs_curdestdir)usr/bin/gtcoin-qt
